<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - UNAALMESAPI</title>

    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/login.css">

    <script type="module">
        import { redirect } from '/js/redirect.js'

        redirect()
    </script>

</head>

<body>
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-12 shadow-lg p-3 mb-5" id="inside-register">
               
            </div> -->
            <div id="register-body-card" class="card col-lg-12 shadow-lg">
                <div class="card-header bg-primary text-white">Register</div>
                <div class="card-body">
                    <form action="/session/register" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label text-primary">Username: </label>
                            <input id="username" class="form-control" type="text" name="username" maxlength="15"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-primary">Password: </label>
                            <input id="password" class="form-control" type="password" name="password" minlength="8"
                                required>
                        </div>
                        <div class="card-footer bg-transparent border-primary">
                            <button type="submit" class="btn btn-primary-register">Register</button>
                            <a href="/session" type="button" class="btn btn-cancel btn-register">Cancel</a>
                        </div>

                        <input type="hidden" name="create" value="true">
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>